@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    max-width: 400px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1476108621677-3c620901b5e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
}

form {
    color: black;
    width: 450px;
    padding: 35px 40px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="range"] {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

meter {
    width: 100%;
    height: 20px;
    margin: 20px 0 10px;
}
